In [163]:
import matplotlib
%matplotlib inline

import pandas as pd

In [164]:
df_prix = pd.read_csv('datas/Prix_Petrole_Brut.csv')
df_production = pd.read_csv('datas/Production_Petrole_Brut.csv')
df_approvisionnement = pd.read_csv('datas/Approvisionnement_Energie_Primaire.csv')

df = pd.DataFrame()

In [165]:
df = df_approvisionnement.join(df_production,lsuffix='_approvisionnement', rsuffix='_production')

In [166]:
df.head()

,LOCATION_approvisionnement,INDICATOR_approvisionnement,SUBJECT_approvisionnement,MEASURE_approvisionnement,FREQUENCY_approvisionnement,TIME_approvisionnement,Value_approvisionnement,Flag Codes_approvisionnement,LOCATION_production,INDICATOR_production,SUBJECT_production,MEASURE_production,FREQUENCY_production,TIME_production,Value_production,Flag Codes_production
0,AUS,PRYENRGSUPPLY,TOT,TOE_1000USD,A,1980,0.191,NaN,AUS,OILPROD,TOT,KTOE,A,1980,19471.877,NaN
1,AUS,PRYENRGSUPPLY,TOT,TOE_1000USD,A,1981,0.186,NaN,AUS,OILPROD,TOT,KTOE,A,1981,19007.475,NaN
2,AUS,PRYENRGSUPPLY,TOT,TOE_1000USD,A,1982,0.198,NaN,AUS,OILPROD,TOT,KTOE,A,1982,18706.129,NaN
3,AUS,PRYENRGSUPPLY,TOT,TOE_1000USD,A,1983,0.182,NaN,AUS,OILPROD,TOT,KTOE,A,1983,18220.054,NaN
4,AUS,PRYENRGSUPPLY,TOT,TOE_1000USD,A,1984,0.178,NaN,AUS,OILPROD,TOT,KTOE,A,1984,22148.899,NaN

In [167]:
df = df.rename(index=str,columns={"TIME_approvisionnement" : "TIME"})
df.head()

,LOCATION_approvisionnement,INDICATOR_approvisionnement,SUBJECT_approvisionnement,MEASURE_approvisionnement,FREQUENCY_approvisionnement,TIME,Value_approvisionnement,Flag Codes_approvisionnement,LOCATION_production,INDICATOR_production,SUBJECT_production,MEASURE_production,FREQUENCY_production,TIME_production,Value_production,Flag Codes_production
0,AUS,PRYENRGSUPPLY,TOT,TOE_1000USD,A,1980,0.191,NaN,AUS,OILPROD,TOT,KTOE,A,1980,19471.877,NaN
1,AUS,PRYENRGSUPPLY,TOT,TOE_1000USD,A,1981,0.186,NaN,AUS,OILPROD,TOT,KTOE,A,1981,19007.475,NaN
2,AUS,PRYENRGSUPPLY,TOT,TOE_1000USD,A,1982,0.198,NaN,AUS,OILPROD,TOT,KTOE,A,1982,18706.129,NaN
3,AUS,PRYENRGSUPPLY,TOT,TOE_1000USD,A,1983,0.182,NaN,AUS,OILPROD,TOT,KTOE,A,1983,18220.054,NaN
4,AUS,PRYENRGSUPPLY,TOT,TOE_1000USD,A,1984,0.178,NaN,AUS,OILPROD,TOT,KTOE,A,1984,22148.899,NaN

In [168]:
df = df.set_index('TIME')

In [169]:
del df['TIME_production']

In [170]:
df.head()

,LOCATION_approvisionnement,INDICATOR_approvisionnement,SUBJECT_approvisionnement,MEASURE_approvisionnement,FREQUENCY_approvisionnement,Value_approvisionnement,Flag Codes_approvisionnement,LOCATION_production,INDICATOR_production,SUBJECT_production,MEASURE_production,FREQUENCY_production,Value_production,Flag Codes_production
TIME,,,,,,,,,,,,,,
1980,AUS,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.191,NaN,AUS,OILPROD,TOT,KTOE,A,19471.877,NaN
1981,AUS,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.186,NaN,AUS,OILPROD,TOT,KTOE,A,19007.475,NaN
1982,AUS,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.198,NaN,AUS,OILPROD,TOT,KTOE,A,18706.129,NaN
1983,AUS,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.182,NaN,AUS,OILPROD,TOT,KTOE,A,18220.054,NaN
1984,AUS,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.178,NaN,AUS,OILPROD,TOT,KTOE,A,22148.899,NaN

In [171]:
df = df.rename(columns={"LOCATION_approvisionnement":"LOCATION"})

In [173]:
del df['LOCATION_production']

In [174]:
df

,LOCATION,INDICATOR_approvisionnement,SUBJECT_approvisionnement,MEASURE_approvisionnement,FREQUENCY_approvisionnement,Value_approvisionnement,Flag Codes_approvisionnement,INDICATOR_production,SUBJECT_production,MEASURE_production,FREQUENCY_production,Value_production,Flag Codes_production
TIME,,,,,,,,,,,,,
1980,AUS,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.191,NaN,OILPROD,TOT,KTOE,A,19471.877,NaN
1981,AUS,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.186,NaN,OILPROD,TOT,KTOE,A,19007.475,NaN
1982,AUS,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.198,NaN,OILPROD,TOT,KTOE,A,18706.129,NaN
1983,AUS,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.182,NaN,OILPROD,TOT,KTOE,A,18220.054,NaN
1984,AUS,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.178,NaN,OILPROD,TOT,KTOE,A,22148.899,NaN
1985,AUS,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.173,NaN,OILPROD,TOT,KTOE,A,25468.860,NaN
1986,AUS,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.171,NaN,OILPROD,TOT,KTOE,A,26561.559,NaN
1987,AUS,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.169,NaN,OILPROD,TOT,KTOE,A,26399.764,NaN
1988,AUS,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.166,NaN,OILPROD,TOT,KTOE,A,26322.923,NaN
1989,AUS,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.171,NaN,OILPROD,TOT,KTOE,A,23679.705,NaN
1990,AUS,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.176,NaN,OILPROD,TOT,KTOE,A,26752.604,NaN
1991,AUS,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.173,NaN,OILPROD,TOT,KTOE,A,26717.935,NaN
1992,AUS,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.169,NaN,OILPROD,TOT,KTOE,A,23439.126,NaN
1993,AUS,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.171,NaN,OILPROD,TOT,KTOE,A,22940.108,NaN
1994,AUS,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.165,NaN,OILPROD,TOT,KTOE,A,21286.521,NaN
1995,AUS,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.161,NaN,OILPROD,TOT,KTOE,A,22718.440,NaN
1996,AUS,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.166,NaN,OILPROD,TOT,KTOE,A,20539.570,NaN
1997,AUS,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.162,NaN,OILPROD,TOT,KTOE,A,20494.396,NaN
1998,AUS,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.158,NaN,OILPROD,TOT,KTOE,A,22008.258,NaN
1999,AUS,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.156,NaN,OILPROD,TOT,KTOE,A,16551.631,NaN
2000,AUS,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.156,NaN,OILPROD,TOT,KTOE,A,25081.157,NaN
2001,AUS,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.146,NaN,OILPROD,TOT,KTOE,A,26611.828,NaN
2002,AUS,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.147,NaN,OILPROD,TOT,KTOE,A,30307.711,NaN
2003,AUS,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.143,NaN,OILPROD,TOT,KTOE,A,29403.176,NaN
2004,AUS,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.141,NaN,OILPROD,TOT,KTOE,A,25785.035,NaN
2005,AUS,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.138,NaN,OILPROD,TOT,KTOE,A,22928.552,NaN
2006,AUS,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.139,NaN,OILPROD,TOT,KTOE,A,20414.553,NaN
2007,AUS,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.138,NaN,OILPROD,TOT,KTOE,A,23214.306,NaN
2008,AUS,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.141,NaN,OILPROD,TOT,KTOE,A,21500.836,NaN
2009,AUS,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.138,NaN,OILPROD,TOT,KTOE,A,22170.045,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1988,ZWE,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.373,NaN,OILPROD,TOT,KTOE,A,0.000,NaN
1989,ZWE,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.363,NaN,OILPROD,TOT,KTOE,A,0.000,NaN
1990,ZWE,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.358,NaN,OILPROD,TOT,KTOE,A,0.000,NaN
1991,ZWE,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.359,NaN,OILPROD,TOT,KTOE,A,0.000,NaN
1992,ZWE,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.408,NaN,OILPROD,TOT,KTOE,A,0.000,NaN
1993,ZWE,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.386,NaN,OILPROD,TOT,KTOE,A,0.000,NaN
1994,ZWE,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.351,NaN,OILPROD,TOT,KTOE,A,0.000,NaN
1995,ZWE,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.357,NaN,OILPROD,TOT,KTOE,A,0.000,NaN
1996,ZWE,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.322,NaN,OILPROD,TOT,KTOE,A,0.000,NaN
1997,ZWE,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.310,NaN,OILPROD,TOT,KTOE,A,0.000,NaN
1998,ZWE,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.309,NaN,OILPROD,TOT,KTOE,A,0.000,NaN
1999,ZWE,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.332,NaN,OILPROD,TOT,KTOE,A,0.000,NaN
2000,ZWE,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.324,NaN,OILPROD,TOT,KTOE,A,0.000,NaN
2001,ZWE,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.318,NaN,OILPROD,TOT,KTOE,A,0.000,NaN
2002,ZWE,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.343,NaN,OILPROD,TOT,KTOE,A,0.000,NaN
2003,ZWE,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.395,NaN,OILPROD,TOT,KTOE,A,0.000,NaN
2004,ZWE,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.410,NaN,OILPROD,TOT,KTOE,A,0.000,NaN
2005,ZWE,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.456,NaN,OILPROD,TOT,KTOE,A,0.000,NaN
2006,ZWE,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.487,NaN,OILPROD,TOT,KTOE,A,0.000,NaN
2007,ZWE,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.499,NaN,OILPROD,TOT,KTOE,A,0.000,NaN
2008,ZWE,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.568,NaN,OILPROD,TOT,KTOE,A,0.000,NaN
2009,ZWE,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.520,NaN,OILPROD,TOT,KTOE,A,0.000,NaN
2010,ZWE,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.474,NaN,OILPROD,TOT,KTOE,A,0.000,NaN
2011,ZWE,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.436,NaN,OILPROD,TOT,KTOE,A,0.000,NaN
2012,ZWE,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.392,NaN,OILPROD,TOT,KTOE,A,0.000,NaN
2013,ZWE,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.382,NaN,OILPROD,TOT,KTOE,A,0.000,NaN
2014,ZWE,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.381,NaN,OILPROD,TOT,KTOE,A,0.000,NaN
2015,ZWE,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.382,NaN,OILPROD,TOT,KTOE,A,0.000,NaN
2016,ZWE,PRYENRGSUPPLY,TOT,TOE_1000USD,A,0.374,NaN,OILPROD,TOT,KTOE,A,0.000,NaN
2017,ZWE,PRYENRGSUPPLY,TOT,TOE_1000USD,A,NaN,L,OILPROD,TOT,KTOE,A,0.000,NaN

i = 0
compteur_production = 0
for i in range(len(df_production['LOCATION'])-1):
    if df_production['LOCATION'][i] != df_production['LOCATION'][i+1]:
        compteur_production += 1
print("nb LOCATION_production :",compteur_production)

i = 0
compteur_prix = 0
for i in range(len(df_prix['LOCATION'])-1):
    if df_prix['LOCATION'][i] != df_prix['LOCATION'][i+1]:
        compteur_prix += 1
print("nb LOCATION_prix :",compteur_prix)