## Librairies

In [124]:
import matplotlib
%matplotlib inline

import pandas as pd

## Create DataFrame

In [125]:
df_prix = pd.read_csv('datas/Prix_Petrole_Brut.csv')
df_production = pd.read_csv('datas/Production_Petrole_Brut.csv')
df_approvisionnement = pd.read_csv('datas/Approvisionnement_Energie_Primaire.csv')
df_energie_renouvelable = pd.read_csv('datas/Energies_Renouvelables.csv')

df = pd.DataFrame()

## Join Approvisionnement and production

In [126]:
df = df_approvisionnement.join(df_production,lsuffix='_approvisionnement', rsuffix='_production')

##### - TIME

In [127]:
df['TIME'] = df['TIME_approvisionnement'].combine_first(df['TIME_production'])
del df['TIME_approvisionnement'],df['TIME_production']

##### - LOCATION

In [128]:
df['LOCATION'] = df['LOCATION_approvisionnement'].combine_first(df['LOCATION_production'])
del df['LOCATION_approvisionnement'],df['LOCATION_production']

##### - FREQUENCY

In [129]:
df['FREQUENCY'] = df['FREQUENCY_approvisionnement'].combine_first(df['FREQUENCY_production'])
del df['FREQUENCY_approvisionnement'],df['FREQUENCY_production']

## Join Prix Petrole Brut

In [130]:
df = pd.merge(df, df_prix[['LOCATION', 'Value','TIME']], on=['LOCATION','TIME'],how='left')

In [131]:
df = df.rename(columns = {"Value":"Value_prix"})

## Join Energies Renouvelables

In [132]:
df = pd.merge(df, df_energie_renouvelable[['LOCATION', 'Value','TIME']], on=['LOCATION','TIME'],how='left')

In [133]:
df = df.rename(columns={"Value":"Value_renouvelable"})

In [134]:
df = df.set_index('TIME')

## Exports final file to csv

In [135]:
df.head()

,INDICATOR_approvisionnement,SUBJECT_approvisionnement,MEASURE_approvisionnement,Value_approvisionnement,Flag Codes_approvisionnement,INDICATOR_production,SUBJECT_production,MEASURE_production,Value_production,Flag Codes_production,LOCATION,FREQUENCY,Value_prix,Value_renouvelable
TIME,,,,,,,,,,,,,,
1980,PRYENRGSUPPLY,TOT,TOE_1000USD,0.191,NaN,OILPROD,TOT,KTOE,19471.877,NaN,AUS,A,31.81,4745.682
1981,PRYENRGSUPPLY,TOT,TOE_1000USD,0.186,NaN,OILPROD,TOT,KTOE,19007.475,NaN,AUS,A,35.88,5063.213
1982,PRYENRGSUPPLY,TOT,TOE_1000USD,0.198,NaN,OILPROD,TOT,KTOE,18706.129,NaN,AUS,A,35.42,5173.465
1983,PRYENRGSUPPLY,TOT,TOE_1000USD,0.182,NaN,OILPROD,TOT,KTOE,18220.054,NaN,AUS,A,30.88,5006.549
1984,PRYENRGSUPPLY,TOT,TOE_1000USD,0.178,NaN,OILPROD,TOT,KTOE,22148.899,NaN,AUS,A,29.19,4912.525

In [136]:
df.to_csv('datas/df_final.csv')

## additional tools

i = 0
compteur_production = 0
for i in range(len(df_production['LOCATION'])-1):
    if df_production['LOCATION'][i] != df_production['LOCATION'][i+1]:
        compteur_production += 1
print("nb LOCATION_production :",compteur_production)