In [3]:
import matplotlib
%matplotlib inline

import pandas as pd

In [4]:
df = pd.read_csv('datas/Prix_Petrole_Brut.csv')

In [5]:
df.head()

  LOCATION    INDICATOR SUBJECT  MEASURE FREQUENCY  TIME  Value Flag Codes
0      AUS  OILIMPPRICE     TOT  USD_BAR         A  1980  31.81        NaN
1      AUS  OILIMPPRICE     TOT  USD_BAR         A  1981  35.88        NaN
2      AUS  OILIMPPRICE     TOT  USD_BAR         A  1982  35.42        NaN
3      AUS  OILIMPPRICE     TOT  USD_BAR         A  1983  30.88        NaN
4      AUS  OILIMPPRICE     TOT  USD_BAR         A  1984  29.19        NaN